<%- include('header') %>

<div class="container">
    <div class="page-header">
        <h1>Lista de presentes</h1>
    </div>
    <div class="row"> Formulario <%- include('formulario') %>    </div>
    <div class="row"> Tabela <%- include('tabela') %>   </div>
    <div class="row"><a href="/">Sair</a></div>
</div>

<%- include('footer') %>